.builtwithelm {
  padding: 10px;
}

.builtwithelm__sidebar {
  margin-bottom: 40px;

  .heading {
    margin-bottom: 15px;
  }

  .builtwithelm__footer {
    display: none;
  }
}

.builtwithelm__projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.builtwithelm__footer {
  margin-top: 40px;

  .links {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 350px) {
  .builtwithelm {
    --space: 20px;

    padding: var(--space);
  }
}

@media screen and (min-width: 770px) {
  .builtwithelm {
    --sidebar-width: 300px;

    max-width: 1400px;
  }

  .builtwithelm__sidebar {
    margin-bottom: 0;

    padding-left: 5px;
    padding-right: var(--space);
    width: var(--sidebar-width);
    height: calc(100% - (2 * var(--space)));

    position: fixed;
    overflow-y: auto;

    .builtwithelm__footer {
      display: block;
    }
  }

  .builtwithelm__content {
    margin-left: calc(var(--sidebar-width) + var(--space));

    display: flex;
    flex-direction: column;
    align-items: center;

    .builtwithelm__footer {
      display: none;
    }
  }

  .builtwithelm__projects {
    max-width: 920px;
  }
}
