.pager {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.pager__buttons {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 350px) {
  .pager {
    flex-direction: row;
  }

  .pager__setting {
    margin-right: auto;
  }
}
