.project__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.project__title {
  margin: 0;
  margin-right: auto;
}

.project__github-logo {
  width: 2rem;
}

.project__screenshot {
  display: flex;

  background-image: url(/images/screenshot-shell.svg);
  background-size: contain;
  background-repeat: no-repeat;

  padding: 1.875%;
  padding-top: 3.25%;

  a {
    display: inline-flex;

    // Useful for debugging purposes
    //
    // outline: 1px solid green;
    // opacity: 0.5;
  }

  img {
    width: 100%;

    // Useful for debugging purposes
    //
    // outline: 1px solid pink;
    // opacity: 0.5;
  }
}
